@import "tailwindcss";
@import "@fontsource-variable/inter";

:root {
  color-scheme: dark;
}

body {
  font-family: "Inter Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
